<%= link_to 'About', about_path %>
<body style="background-color: #E1E1E1;">

  <h1 style="text-align:center;" >
    Homepage of AlphBlog
  </h1>

  <table align="center">
    <tr>
      <th style="border-style: solid; border-width: 1px; width: 500px; height: 250px; background-color: #8FFFA1"> 
        This is an article tag <br>
        <article>
        	An article should make sense on its own and it should be possible to distribute it independently from the rest of the site.
        </article>
      </th>
      <th style="border-style: solid; border-width: 1px; width: 500px; height: 250px; background-color: #FF8FFC">
        Cheers! <br>
        <iframe src="https://www.historicdowntownsanford.com/wp-content/uploads/2018/07/craft-beer-scene-DS2-800x400.jpg" width="400" height="200" frameborder="0" scrolling="no"> </iframe>
      </th>
    </tr>
    <tr>
      <th style="border-style: solid; border-width: 1px; width: 500px; height: 250px; background-color: #8FCAFF">
        Embedded Map <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d393.8218223960346!2d-122.39603317642384!3d37.78401502908642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085807e8df70a15%3A0x20d9be370efb666e!2sUdemy!5e0!3m2!1sen!2sus!4v1565632351119!5m2!1sen!2sus" width="400" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
      </th>
      <th style="border-style: solid; border-width: 1px; width: 500px; height: 250px; background-color: #FFE98F">
        This is an iFrame <br>
        <iframe src="https://www.bing.com", style="height: 80%; width: 80%"></iframe>
       </th>
    </tr>
</table>

  
</body>
